input:focus, textarea:focus, select:focus{
    outline: none;
}

input{
    border-style: none;
}

#content{
    margin: auto;
    left: 43%;
    padding: 10px;
    position: absolute;
    top: 40%;
}
